<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.LocationMapper">

    <!-- get a location by its id -->
    <select id="getLocationById" resultType="com.example.demo.model.Location">
        <if test="lId != null">
            SELECT * FROM location WHERE l_id = #{lId}
        </if>
    </select>

    <!-- get a location by name -->
    <select id="getLocationByName" resultType="com.example.demo.model.Location">
        <if test="lName != null">
            SELECT * FROM location WHERE l_name = #{lName}
        </if>
    </select>

    <!-- get locations by country -->
    <select id="getLocationsByCountry" resultType="com.example.demo.model.Location">
        <if test="lCountry != null">
            SELECT * FROM location WHERE l_country = #{lCountry}
        </if>
    </select>

    <!-- get locations by country code -->
    <select id="getLocationsByCountryCode" resultType="com.example.demo.model.Location">
        <if test="lCountryCode != null">
            SELECT * FROM location WHERE l_country_code = #{lCountryCode}
        </if>
    </select>


</mapper>